:global(.inputString) {
    height: 200px;
    width: 200px;
    border: 1px solid red;
}

:global(.lexTable) {
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 

    th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 1px solid #dddddd;
    }
    
    td {
        border: 1px solid #dddddd;
        padding: 5px;
    }    
}

:global(.tables) {
    display: flex;
    flex-direction: row;

    section {
        margin-right: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
}

:global(.text) {
    height: 200px;
    overflow-y: auto;
}

.tmp {
    color: black;
}

:global(.text-restored) {
    font-size: 1.2em;
    background: #1f1f1f;
    color: white;
    height: 200px;
    width: 200px;
    border: 1px solid red;
    overflow: auto;
}

:global(.line-number) {
    color: #527181;
}

:global(.id) {
    color: #6BCDF7;
}

:global(.limiter) {
    color: #FFF;
}

:global(.comment) {
    color: #609755;
}

:global(.simple-text) {
    height: 200px;
    width: 200px;
    border: 1px solid red;
    white-space: wrap;
}