.editor {
    width: 200px;
    height: 200px;
    padding: 0px 0px 0px 0px;
    overflow: auto;
    outline: none;
    display: flex;
    flex-direction: row;
    background: #1f1f1f;
}
.editArea {
    position: relative;
    outline: none;
}
.lineNumbersArea {
    color: #63737e;
    line-height: 100%;
    margin: 0px;
    overflow: hidden;
    padding: 0px 8px 0px 0px;

    pre {
        margin: 0px;
        line-height: 100%;
        text-align: right;
    }
}

.text {
    margin: 0px;
    line-height: 100%;
    outline: none;
    color: #68c7f7;
    p {
        margin: 0px;
        :global(.limiter) {
            color: #d46ea1;
        }
    }
}

.sampleChar {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    line-height: 100%;
    visibility: hidden;
}

.cursor {
    color: white;
    position: absolute;
    line-height: 100%;
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
    margin: 0px;
    left: 0px;
}
.cursorChar {
    margin-left: -4px;
}

@-webkit-keyframes blink {
  50% { color: rgb(255, 255, 255); }
  51% { color: rgba(255, 255, 255, 0); }
  100% { color: rgba(255, 255, 255, 0); }
}
@keyframes blink {
  50% { color: rgb(255, 255, 255); }
  51% { color: rgba(255, 255, 255, 0); }
  100% { color: rgba(255, 255, 255, 0); }
}
