.editor {
    width: 200px;
    height: 200px;
    padding: 2px 0px 0px 2px;
    overflow: auto;
    outline: none;
}
.editArea {
    position: relative;
    outline: none;
}

.text {
    background: green;
    margin: 0px;
    line-height: 100%;
    outline: none;
}

.sampleChar {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    line-height: 100%;
    visibility: hidden;
}

.cursor {
    position: absolute;
    line-height: 100%;
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
    margin: 0px;
    left: 0px;
}
.cursorChar {
    margin-left: -4px;
}

@-webkit-keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}
